body {
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background-image: linear-gradient(to right, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
}

.column {
    float: left;
    padding: 10px;
}

.middle {
    width: 50%;
    
}

.left, .right {
    width: 25%;
}

row::after {
    content: "";
  display: table;
  clear: both;
}

.topbar {
    overflow: hidden;
    background-color: #22303c;
    border-radius: 25px;
    font-weight: 1000;

}

.topbar p {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navbar {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  width: 12.5%;
  background-color: #22303c;
  position: fixed;
  height: 75%;
  overflow: auto;
  border-radius: 10px;
}

.navbar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.navbar button {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.navbar button:hover:not(.active) {
    background-color: #1DA1F2;
    color: white;
}

.navbar a:hover:not(.active) {
    background-color: #1DA1F2;
    color: white;
}

.maincontent {
    padding: 15px;
    background-color: #192734;
    border-radius: 10px;
    margin-top: 50px;
}

.heading {
    text-align: center;
}

.subtitle {
    font-weight: 100;
}

.oldpc-home {
    display: block;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   
}

.explore-btn {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background-color: #1DA1F2;
    color: white;
    border-radius: 15px;
    font-size: 25px;
}